body{
    background-color: #0a0862;
    margin: 0px;
}

.left, .right{
    background-color: #0a0862;
    width: 40%;
    float: left;
    height: 100%;
}

.center{
    background-color: #0a0862;
    width: 20%;
    float: left;
    
    height: 100%;
    
}
.card{
    background-color: #2b39cd;
    height: 50%;
    width: 70%;
    border: 1px solid white;
    border-radius: 15px;
    background-image: url("pngwing.com.png");
    background-repeat: no-repeat;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kep{
    height: 90%;
    padding-left: 60px;
    padding-top: 30px;
}

.nev{
    background-color: azure;
    position: absolute;
}


.menu{
    padding: 0px;
    margin: 0px;
    height:100%;
    background-color: #c4c3c4;
    list-style-type: none;
    text-align: center;
    position: fixed;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
    color: black;
    font-size: 50px;
}
.menu li{
    height: 100px;
}

.one-page{
    height: 100%;
    position: relative;
}